body {
  margin: 0;
  background-color: aliceblue;
  font-family: 'Coda', sans-serif;
  font-weight: 400;
}
header {
  top: 0;
  width: 100%;
  height: 55px;
  background-color: white;
  display: inline-block;
  position: fixed;
  z-index: 999;
}
header nav #logo {
  float: left;
  margin-left: 10px;
  padding: 5px;
}
header nav #logo img {
  width: 70px;
  height: 45px;
}
header nav #navigation {
  float: right;
  padding: 17px;
}
header nav #navigation .nav-element {
  padding: 22px;
  color: black;
  text-decoration: none;
}
header nav #navigation .nav-element:hover {
  color: #de5810;
  transition: 0.2s;
}
.welcomeSection {
  width: 100%;
  text-align: center;
  height: calc(100vh - 55px);
  background-image: url("/content/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 55px;
}
.welcomeSection img {
  margin: 0 auto;
  max-width: 701px;
  width: 100%;
  height: auto;
  padding: 0;
}
.welcomeSection p {
  font-weight: 300;
  font-size: 48px;
  margin-bottom: 15px;
  margin-top: 0;
  padding-top: 25px;
  letter-spacing: 2px;
}
.descriptionSection {
  width: 100%;
  height: 700px;
  margin-top: 55px;
}
.registerSection {
  width: 100%;
  background-color: #373737;
  color: white;
}
.agendaSection {
  width: 100%;
  height: 1000px;
}
.prelegntSection {
  width: 100%;
  height: 800px;
}
.partnerSection {
  width: 100%;
  height: 800px;
}
.adressSection {
  width: 100%;
  height: 400px;
}
.sectionTitle {
  text-align: center;
  font-size: 37px;
  font-weight: 400;
  padding: 30px;
  letter-spacing: 3px;
}
#registerButton {
  clear: both;
  text-transform: uppercase;
  transition: 0.25s;
  text-decoration: none;
  color: white;
  border: 0.5px solid gray;
  border-radius: 4px;
  padding: 7px;
  font-size: 21px;
  padding-left: 8px;
}
#registerButton .glyphicon-chevron-right {
  border-right: 0.5px solid white;
}
#registerButton:hover {
  background-color: white;
  color: #202020;
  transition: 0.2s;
}
#registerButton:hover .glyphicon-chevron-right {
  border-right: 0.5px solid #202020;
}
@media all and (max-width: 480px) {
  .welcomeSection p {
    font-size: 28px;
  }
}
