@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
body {
  margin: 0;
  background-color: aliceblue;
  font-family: 'Raleway', sans-serif !important;
  padding: 0;
}
.entry-page {
  height: 100vh;
  background-size: cover;
  position: relative;
  transition: 999999s;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-image: url("../content/bgg.jpg");
  background-color: #aa0000;
  background-attachment: fixed;
  -webkit-background-repeat: no-repeat;
  -webkit-background-position: 100% 100%;
  -webkit-background-color: #aa0000;
  -webkit-background-attachment: fixed;
}
#crystalPartner {
  text-align: center;
  font-size: 48px;
  color: black;
  font-weight: 600;
}
.navbarBar {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.2s;
}
.site-logo {
  float: left;
  margin-top: 20px;
  margin-left: 30px;
  border: 1px solid white;
}
.navbarNavigation {
  float: right;
}
.navbarNavigation ul {
  list-style-type: none;
  margin: 0;
  margin-right: 40px;
  padding-top: 20px;
}
.navbarNavigation ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 20px;
  font-weight: 600;
  color: #ffffff;
}
.navbarNavigation ul li:hover {
  opacity: 0.7;
  cursor: pointer;
}
#menuBtn:hover {
  cursor: pointer;
}
#header {
  margin: 0 auto;
  padding-top: 260px;
  padding-bottom: 100px;
  text-align: center;
}
#header .title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 700;
  color: aliceblue;
}
#header .description {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
}
#header .cta-button {
  width: 140px;
  padding: 10px 5px;
  margin: 55px auto 0 auto;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
}
#header .cta-button:hover {
  border-color: aliceblue;
  color: white;
  background-color: #aa0000;
  cursor: pointer;
}
.descriptionSection {
  width: 100%;
  height: auto;
  margin: 55px 0;
}
.registerSection {
  width: 100%;
  background-color: #373737;
  color: white;
}
.agendaSection {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.workshopSection {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.prelegentSection {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  display: inline-block;
  text-align: center;
}
.partnerSection {
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.partnerSection img {
  max-width: 420px;
}
.adressSection {
  width: 100%;
  height: auto;
  padding: 10px;
}
.adressSection #googleMap {
  width: 100%;
  height: 410px;
}
.adressSection .adress {
  text-align: center;
  font-weight: 900;
  font-size: 27px;
  padding: 45px;
}
footer {
  min-height: 430px;
  max-height: 500px;
  width: 100%;
  background-color: #272727;
  color: white;
}
footer .contactContainer {
  text-align: center;
}
footer .contactContainer .contactSection {
  padding: 0 0 40px 17px;
}
footer .contactContainer .dotnet {
  background-image: url("../content/facebookGray.png");
  background-position: center;
  background-size: 76px 76px;
  width: 76px;
  height: 76px;
  background-color: #595959;
  border-radius: 45px;
  margin-left: 10px;
}
footer .contactContainer .facebooks {
  display: block;
  float: left;
  text-align: left;
}
footer .contactContainer .dotnetTitle {
  font-size: 28px;
}
footer .contactContainer .dotnet:hover {
  background-color: #3b5998;
  transition: 0.5s;
  background-position-x: 76px;
  background-image: url('../content/facebookWhite.png');
}
.sectionContent {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}
#aboutInfo {
  text-align: left;
  padding: 4px;
}
.sectionTitle {
  text-align: center;
  font-size: 37px;
  font-weight: 400;
  padding: 30px;
}
.glyphicon-menu-hamburger {
  padding: 10px;
  float: right;
  font-size: 30px;
  color: white;
}
#menuBtn {
  display: none;
}
#registerButton {
  clear: both;
  text-transform: uppercase;
  transition: 0.25s;
  text-decoration: none;
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 7px;
  font-size: 21px;
  padding-left: 27px;
  position: relative;
}
#registerButton .glyphicon-calendar {
  padding: 5px;
  position: absolute;
  top: 4px;
  left: 5px;
}
#registerButton .registerButtonText {
  margin: 0 14px;
  border-left: 1px solid white;
  padding-left: 3px;
}
#registerButton:hover {
  background-color: white;
  color: #202020;
  transition: 0.2s;
}
#registerButton:hover .iconCheck {
  background-image: url('../content/Calendarblack.png');
}
#registerButton:hover .registerButtonText {
  border-left: 1px solid #202020;
}
.prelegentContainer {
  display: inline-block;
  width: 200px;
  height: 250px;
  text-align: center;
  background-image: linear-gradient(to bottom, #ffffff 50%, #0203e3 50%, #d800ff);
  transition: background-position 0.5s;
  background-size: 100% 200%;
  padding-top: 33px;
  border-radius: 10px 60px;
  margin-top: 10px;
}
.prelegentContainer .prelegentPhoto img {
  width: 150px;
  height: 150px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  box-shadow: 0 0 20px #888888;
  -webkit-box-shadow: 0 0 20px #888888;
  -moz-box-shadow: 0 0 20px #888888;
}
.prelegentContainer .prelegentName {
  font-size: 17px;
}
.prelegentContainer:hover {
  color: #fff;
  transition: 0.5s;
  background-position: 0 -100%;
  cursor: pointer;
}
.prelegentModal {
  position: absolute;
  top: 50%;
}
.modalContent {
  padding: 3px;
  display: flex;
  background-color: white;
  border-radius: 5px;
}
.modalContent .modalText {
  display: inline-block;
  padding: 7px;
}
@keyframes navbarJump {
}
@keyframes animateFacebook {
}
@media all and (max-width: 480px) {
  .welcomeSection p {
    font-size: 28px;
  }
  #header {
    padding-top: 150px;
  }
  .modalContent {
    display: block;
  }
  .modalContent img {
    margin: 0 auto;
  }
  #header .title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 700px) {
  .contactSection {
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
    padding: 15px;
    margin: 0 auto;
  }
  footer .contactContainer .contactSection {
    padding-left: 0;
    padding: 10px;
  }
  footer .contactContainer .facebooks {
    text-align: center;
    width: 100%;
  }
  footer .contactContainer .dotnet {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 500px) {
  .partnerSection img {
    max-width: 280px;
  }
}
@media only screen and (max-width: 1160px) {
  .navbarBar {
    background-color: rgba(170, 0, 0, 0.9);
  }
  .navbarNavigation {
    float: left;
    display: none;
    background-color: rgba(170, 0, 0, 0.1);
    width: 100vw;
  }
  .navbarNavigation ul li {
    display: block;
  }
  #menuBtn {
    display: block;
  }
  .site-logo {
    margin-top: 5px;
    margin-bottom: 3px;
  }
}
